[submodule "client"]
	path = client
	url = git@github.com:javierdesant/Dragons-Teeth.git
	branch = client
[submodule "server"]
	path = server
	url = git@github.com:javierdesant/Dragons-Teeth.git
	branch = server
